# OS
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# Logs
logs/
*.log

# Environment files
.env
.env.*.local

# Build / cache
dist/
build/
.cache/
coverage/
*.tgz

# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.history/

# Temp files
*.tmp
*.temp
*.bak
*.swp
*~

# Misc
.vagrant/
*.pem